<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490349080657-k85cplk8pn7f77mbs8p5glq40en1qat9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490349080657-k85cplk8pn7f77mbs8p5glq40en1qat9</string>
	<key>API_KEY</key>
	<string>AIzaSyBPUJevbU1OU3JfIiEILMjM8MDbJ1Rn5KI</string>
	<key>GCM_SENDER_ID</key>
	<string>490349080657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceylincolife.ceylifeapp</string>
	<key>PROJECT_ID</key>
	<string>ceylife-digital-live</string>
	<key>STORAGE_BUCKET</key>
	<string>ceylife-digital-live.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490349080657:ios:49e1c62bc14993c4804870</string>
</dict>
</plist>